Repository Buzaisonghua/bzsh-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: npm自动化构建
  .github/workflows/publish-npm.yml
Due: none

feat: npm自动化构建
  .github/workflows/publish-npm.yml
  scripts/publish.sh
Due: none

feat: npm自动化构建
  scripts/publish.sh
Due: none

feat: npm自动化构建
  .github/workflows/publish-npm.yml
  .github/workflows/test.yml
Due: none

release: ⛅ npm 测试发布
  .github/workflows/test.yml
  commitlint.config.js
Due: eslint --fix

release: ⛅ 测试自动发布
  .github/workflows/test.yml
Due: none

release: ⛅ 测试自动化构建
  .github/workflows/publish-npm.yml
  scripts/publish.sh
Due: none

feat: npm自动化构建
  packages/bzsh-ui/package.json
Due: prettier --write

feat: npm自动化构建
  .github/workflows/publish-npm.yml
  package.json
  scripts/publish.sh
  scripts/update-version.ts
Due: eslint --fix, prettier --write

feat: npm自动化构建
  internal/build-utils/src/index.ts
  internal/build-utils/src/log.ts
  internal/build-utils/src/pkg.ts
  scripts/update-version.ts
Due: eslint --fix

feat: npm自动化构建
  .github/workflows/publish-npm.yml
  scripts/update-version.ts
Due: eslint --fix

feat: npm自动化构建
  scripts/update-version.ts
Due: eslint --fix

feat: npm自动化构建
  .github/workflows/publish-npm.yml
  packages/bzsh-ui/package.json
Due: prettier --write

feat: 🚀 打包配置
  internal/build/gulpfile.ts
  internal/build/package.json
  internal/build/src/tasks/index.ts
  internal/build/src/tasks/types-definitions.ts
  internal/build/src/utils/index.ts
  internal/build/src/utils/pkg.ts
  package.json
  packages/bzsh-ui/version.ts
  packages/components/icon/index.ts
  packages/components/icon/src/icon.ts
  packages/components/icon/src/icon.vue
  packages/theme-chalk/package.json
  packages/theme-chalk/src/base.scss
  packages/theme-chalk/src/var.scss
  packages/typings/env.d.ts
  packages/utils/dom/index.ts
  packages/utils/dom/style.ts
  packages/utils/error.ts
  packages/utils/functions.ts
  packages/utils/index.ts
  packages/utils/objects.ts
  packages/utils/types.ts
  packages/utils/vue/install.ts
  packages/utils/vue/props/runtime.ts
  packages/utils/vue/props/types.ts
  packages/utils/vue/props/util.ts
  packages/utils/vue/typescript.ts
  play/package.json
  pnpm-lock.yaml
  scripts/gen-version.ts
  tsconfig.node.json
Due: eslint --fix, prettier --write

feat: 🚀 打包配置
  package.json
  packages/components/icon/src/icon.vue
  packages/utils/vue/props/runtime.ts
Due: eslint --fix, prettier --write

feat: 🚀 打包配置
  internal/build/src/tasks/types-definitions.ts
  packages/utils/vue/install.ts
Due: eslint --fix

feat: 🚀 打包配置
  packages/components/icon/index.ts
  packages/components/icon/src/icon.vue
Due: eslint --fix

feat: 🚀 打包配置
  internal/build/gulpfile.ts
  internal/build/package.json
  internal/build/src/build-info.ts
  packages/bzsh-ui/package.json
  pnpm-lock.yaml
  typings/env.d.ts
  typings/global.d.ts
Due: eslint --fix, prettier --write

feat: 🚀 打包配置
  packages/bzsh-ui/component.ts
  packages/bzsh-ui/defaults.ts
Due: eslint --fix

feat: 🚀 打包配置
  packages/bzsh-ui/package.json
Due: prettier --write

feat: 🚀 打包配置
  internal/build/gulpfile.ts
  internal/build/src/tasks/modules.ts
  package.json
  packages/components/base/style/css.ts
  packages/components/base/style/index.ts
  packages/components/icon/src/icon.vue
  packages/components/icon/style/css.ts
  packages/components/icon/style/index.ts
  packages/theme-chalk/gulpfile.ts
  packages/theme-chalk/package.json
  packages/theme-chalk/src/base.scss
  packages/theme-chalk/src/icon.scss
  packages/theme-chalk/src/index.scss
  packages/theme-chalk/src/var.scss
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 🚀 打包配置
  packages/components/icon/src/icon.vue
Due: eslint --fix

feat: 🚀 icon组件
  packages/components/icon/src/icon.vue
  packages/hooks/index.ts
  packages/hooks/package.json
  packages/hooks/use-namespace/index.ts
  play/package.json
  play/src/App.vue
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 🚀 项目theme
  package.json
  packages/components/button/index.ts
  packages/components/button/src/button.ts
  packages/constants/index.ts
  packages/constants/package.json
  packages/constants/size.ts
  packages/hooks/index.ts
  packages/hooks/package.json
  packages/hooks/use-size/index.ts
  packages/theme-chalk/src/common/var.scss
  packages/theme-chalk/src/mixins/_button.scss
  packages/theme-chalk/src/mixins/_var.scss
  packages/theme-chalk/src/mixins/mixins.scss
  packages/theme-chalk/src/var.scss
  play/src/App.vue
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
  prettier --write: (any of: package.json) or (any of: *.md)
